@import url(./components/poster.css); /* solo tiene modificado las dimensiones de las img */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Paletas de colores que pueden usar: */

/* Paleta 3 (activa — Netflix / cine oscuro) */
:root {
  --color-fondo: #141414;
  --color-superficie: #1f1f1f;
  --color-primario: #e50914;
  --color-secundario: #00b4d8;
  --color-texto: #ffffff;
  --color-texto-suave: #b3b3b3;
}

