/* :root {
  --color-fondo: #141414;
  --color-superficie: #1f1f1f;
  --color-primario: #e50914;
  --color-secundario: #00b4d8;
  --color-texto: #ffffff;
  --color-texto-suave: #b3b3b3;
}*/


body{
    background-color: #141414;
    color: #ffffff ;
}


h1 {
    color: #ffffff;
}

.header-logo .foto {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.botonregistro:hover {
    scale: 1.5em;
}


.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom:15px;
    align-items: center
}

.form-group input,
.form-group select {
    padding: 7px;
    border-radius: 20px;
    border: none;
    background-color:#1f1f1f ;
    color:#e50914 ;
    margin-top: 5px;
}

.form-group label {
    font-size: 14px;
    color: #b3b3b3;
}

.form-group input:focus,
.form-group select:focus {
    outline: none;
    border: 2px solid #e50914 ;
} 

.botonregistro {
    background-color: #e50914;
    color: white;
    width: 100%;
    padding: 10px ;
    border-radius: 25px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

footer{
    text-align: center;
}